body {
    background-image: url("felix.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1010px;
    height: 790px;
  }

  .button {
    background-color: #001f40; 
    border: none;
    color: white;
    padding: 8px 16px;
    text-align:left;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    margin: 8px;
    font-family:Arial, Helvetica, sans-serif;
    word-spacing: 6px;
    width: 99px;
   
  }
  .button {
    transition-duration: 0.4s;
  }
  
  .button:hover {
    background-color: #436ddc; 
    color: white;
  }
h1{

    color: #001f40;
    font-size: 38px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
}

  
  

